ion-grid#cado-sched-outer ion-row.cado-topic-first {
    border-style: solid, solid, none, solid;
    border-width: thin;
    background-color: gainsboro;
}
ion-grid#cado-sched-outer ion-row.cado-topic-second {
    border-style: none, solid, solid, solid;
    border-width: thin;
}
ion-row.cado-sched-heads {
    font-weight: bolder;
    border-color: black;
}
ion-row.cado-topic-first.cado-sched-body {
    border-color: black, black,gainsboro,black;
}
ion-row.cado-topic-second.cado-sched-body {
    border-color: gainsboro, black,gainsboro,black;
}
ion-col.cado-sched-total {
    font-weight: bolder;
}
ion-col.cado-tag-label {
    padding: unset;
}
ion-col.cado-labels {
    font-weight: bolder;
}
div.cadocentral .cado-inserthtml {
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 1em;
    border-style: solid;
    border-width: thin;
    border-color:gainsboro;
}
div.cadocentral [id^="cadoi-assign-rubric_"] ion-row {
    font-size: small;
}

div.cadocentral ion-col.cado-rubric-row-head {
    font-weight: bolder;
}

div.cadocentral a.cad-link {
    color: blue;
    text-decoration: none;
}

div.cadocentral a.cad-link:hover {
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
    text-decoration: none;
}
