div.cadocentral div#cado-schedule #cado-sched-outer .cado-topic-first {
    border-style: solid solid none solid;
    border-width: thin;
    background-color: gainsboro;
}
div.cadocentral div#cado-schedule #cado-sched-outer .cado-topic-second {
    border-style: none solid solid solid;
    border-width: thin;
}
div.cadocentral div#cado-schedule .cado-sched-heads {
    font-weight: bolder;
    border-color: black;
}
div.cadocentral div#cado-schedule .cado-topic-first.cado-sched-body {
    border-color: black black gainsboro black;
}
div.cadocentral div#cado-schedule .cado-topic-second.cado-sched-body {
    border-color: gainsboro black gainsboro black;
}
div.cadocentral div#cado-schedule .cado-sched-total {
    font-weight: bolder;
}
div.cadocentral .cado-tag-label {
    padding: unset;
}
div.cadocentral .cado-moddetail-heads {
    font-weight: bolder;
}
div.cadocentral [id*="-rubric_"] {
    font-size: small;
}
div.cadocentral [id*="-rubric_"] .cado-rubric-row-head {
    font-weight: bolder;
}
div.cadocentral .cado-inserthtml {
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 1em 0 1em 0;
    border-top: thin solid gainsboro;
}
div.cadocentral a.cad-link {
    color: blue;
    text-decoration: none;
}
