{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.

}}
{{!
    @template mod_cado/cado

    Displays main CADO report

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * none

    Example context (json):
    {"forum": {
        "0": {
            "cmodid": 97,
            "name": "Less important but still important forum ",
            "link": "http://localhost/moodle_latest/moodle/mod/forum/view.php?id=97&forceview=1",
            "datesexists": true,
            "completionexists": true,
            "extraexists": false,
            "introexists": true,
            "rubricexists": false,
            "dates": {
                "0": {
                    "label": "Date to be completed by: ",
                    "value": "22 October 2020, 1:51 PM"
                }
            },
            "completion": {
                "0": {
                    "label": "Student must create discussions:",
                    "value": 1
                },
                "1": {
                    "label": "Student must post replies:",
                    "value": 3
                }
            },
            "extra": {},
            "intro": "Urgles. ",
            "module": "forum"
        },
        "1": {
            "cmodid": 95,
            "name": "Important forum (LO:3 0%) ",
            "link": "http://localhost/moodle_latest/moodle/mod/forum/view.php?id=95&forceview=1",
            "datesexists": true,
            "completionexists": true,
            "extraexists": false,
            "introexists": true,
            "rubricexists": false,
            "dates": {
                "0": {
                    "label": "Date to be completed by: ",
                    "value": "22 December 2020, 1:51 PM"
                }
            },
            "completion": {
                "0": {
                    "label": "Student must create discussions:",
                    "value": 1
                },
                "1": {
                    "label": "Student must post replies:",
                    "value": 1
                }
            },
            "extra": {},
            "intro": "What a wonderful day for a forum post. ",
            "module": "forum"
        }
    }
}}
<div {{#dm}}class="{{dm}}"{{/dm}}>
  <h2 id="cadoi-{{module}}-name_{{cmodid}}" {{#dmn}}class="{{dmn}}"{{/dmn}}>{{name}} <a class="cad-link" href="{{link}}" target="_blank">&#9741;</a></h2>
  {{#datesexists}}
  <h4>{{# str }} duedates, mod_cado {{/ str }}</h4>
  <div id="cadoi-{{module}}-dates_{{cmodid}}" {{#dmsd}}class="{{dmsd}}"{{/dmsd}}>
      {{#dates}}
      <div class="row {{dml}}">
        <div class = "col-sm-3">{{label}}</div>
        <div class = "col-sm-3 {{dmil}}">{{value}}</div>
      </div>
      {{/dates}}
  </div>
  {{/datesexists}}
  {{#completionexists}}
  <h4>{{# str }} completion, mod_cado {{/ str }}</h4>
  <div id="cadoi-{{module}}-completion_{{cmodid}}" {{#dmsc}}class="{{dmsc}}"{{/dmsc}}>
      {{#completion}}
      <div class="row {{dml}}">
        <div class = "col-sm-3">{{label}}</div>
        <div class = "col-sm-3 {{dmil}}">{{value}}</div>
      </div>
      {{/completion}}
  </div>
  {{/completionexists}}
  {{#extraexists}}
  <div id="cadoi-{{module}}-extra_{{cmodid}}" {{#dmse}}class="{{dmse}}"{{/dmse}}>
    {{#extra}}           
    <div class="row {{dml}}">
      <div class = "col-sm-3 cad-tag-head"><h4>{{label}}</h4></div>
      <div class = "col-sm-3 {{dmil}}"><h4>{{value}}</h4></div>
    </div>
    {{/extra}}   
  </div>
  {{/extraexists}}
  {{#introexists}}
  <div id="cadoi-{{module}}-intro_{{cmodid}}" {{#dmi}}class="{{dmi}}"{{/dmi}}>
    <p> </p>
    {{{intro}}}
    <p> </p>
  </div>
  {{/introexists}}
  {{#rubricexists}}
  <h4>{{# str }} rubric, mod_cado {{/ str }} </h4>
  <div id="cadoi-{{module}}-rubric_{{cmodid}}">
    <table class="table table-hover">
      <tbody>
        {{#rubric}}
          <tr>
            <td class="cado-rubric-row-head">{{critdesc}}</td>
            {{#levels}}<td>{{leveldesc}}<br>({{points}})</td>{{/levels}}
          </tr>
        {{/rubric}}
      </tbody>
    </table><br>
  </div>
  {{/rubricexists}}
</div>
