{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.

}}
{{!
    @template mod_cado/cadocore

    Displays core section of CADO report

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * fullname

    Example context (json):
    {
        "cadobiblio": "<p>This is a biblio</p>",
        "cadocomment": "<p>This is a comment</p>",
        "cadointro": "<p>This is an intro</p>",
        "groupingname": "First",
        "weekly": false,
        "forumexists": true,
        "forum": {
            "0": {
                "module": "forum",
                "cmodid": 95,
                "name": "Important forum (LO:3 0%)",
                "link": "http://localhost/moodle_latest/moodle/mod/forum/view.php?id=95",
                "intro": "<p>Write anything, but keep it entertaining.</p>",
                "introexists": true,
                "dates": {
                    "0": {
                        "label": "Date to be completed by",
                        "value": "22 December 2020, 1:51 PM"
                    }
                },
                "datesexists": true,
                "completion": {
                    "0": {
                        "label": "Student must create discussions:",
                        "value": 1
                    },
                    "1": {
                        "label": "Student must post replies:",
                        "value": 1
                    }
                },
                "completionexists": true,
                "extra": {
                    "0": {
                        "label": "Word count",
                        "value": 1000,
                        "tagcode": "tag0"
                    },
                    "1": {
                        "label": "Final grade %",
                        "value": 80,
                        "tagcode": "tag1"
                    },
                    "2": {
                        "label": "Hours",
                        "value": 30,
                        "tagcode": "tag2"
                    }
                },
                "rubric": {
                    "0": {
                        "critdesc": "and the rest",
                        "levels": {
                            "0": {
                                "leveldesc": "ultimate",
                                "points": 5
                            },
                            "1": {
                                "leveldesc": "lovely",
                                "points": 4
                            },
                            "2": {
                                "leveldesc": "ok",
                                "points": 3
                            },
                            "3": {
                                "leveldesc": "acceptable",
                                "points": 2
                            },
                            "4": {
                                "leveldesc": "unacceptable",
                                "points": 1
                            },
                            "5": {
                                "leveldesc": "dreadful",
                                "points": 0
                            }
                        },
                        "totalpoints": -5
                    },
                    "1": {
                        "critdesc": "the other",
                        "levels": {
                            "0": {
                                "leveldesc": "this awesome",
                                "points": 3
                            },
                            "1": {
                                "leveldesc": "this nice",
                                "points": 1
                            },
                            "2": {
                                "leveldesc": "this bad",
                                "points": 0
                            }
                        },
                        "totalpoints": -3
                    },
                    "2": {
                        "critdesc": "this",
                        "levels": {
                            "0": {
                                "leveldesc": "this great",
                                "points": 2
                            },
                            "1": {
                                "leveldesc": "this ok",
                                "points": 1
                            },
                            "2": {
                                "leveldesc": "this what?",
                                "points": 0
                            }
                        },
                        "totalpoints": -2
                    },
                    "3": {
                        "critdesc": "that",
                        "levels": {
                            "0": {
                                "leveldesc": "that great",
                                "points": 2
                            },
                            "1": {
                                "leveldesc": "that ok",
                                "points": 1
                            },
                            "2": {
                                "leveldesc": "that what?",
                                "points": 0
                            }
                        },
                        "totalpoints": -2
                    }
                },
                "rubricexists": true,
                "extraexists": true
            }
        },
        "quizexists": false,
        "assignexists": false,
        "schedule": {
            "0": {
                "section": 0,
                "name": "General sections",
                "startdate": null,
                "tasks": {},
                "sum": 0
            },
            "1": {
                "section": 1,
                "name": "Hello is there anyone out there.",
                "startdate": null,
                "tasks": {
                    "0": {
                        "name": "Awesome quiz 1  (LO:3 5%)",
                        "date": "22/07/20, 14:33",
                        "tag2": 10
                    }
                },
                "sum": 0
            },
            "2": {
                "section": 2,
                "name": "",
                "startdate": null,
                "tasks": {
                    "0": {
                        "name": "Important forum (LO:3 0%)",
                        "date": "22/12/20, 13:51"
                    },
                    "1": {
                        "name": "a1 with rubric (80% LO:1)",
                        "date": "2/01/21, 05:00",
                        "tag0": 1000,
                        "tag1": 80,
                        "tag2": 30
                    }
                },
                "sum": 0
            },
            "3": {
                "section": 3,
                "name": "",
                "startdate": null,
                "tasks": {
                    "0": {
                        "name": "Less important but still important forum",
                        "date": "22/10/20, 13:51"
                    },
                    "1": {
                        "name": "a2 no rubric (5% LO:2) ",
                        "date": "2/01/21, 05:00",
                        "tag2": 30
                    }
                },
                "sum": 0
            },
            "4": {
                "section": "",
                "name": "TOTALS",
                "tasks": {
                    "tag2": 70,
                    "tag0": 1000,
                    "tag1": 80
                },
                "sum": true
            }
        },
        "scheduleexists": true,
        "headtag0": "Word count",
        "tagsinsched": true,
        "headtag1": "Final grade %",
        "headtag2": "Hours",
        "schedheads": {
            "section": "Section",
            "startdate": "Start date of week",
            "name": "Topic",
            "task": "Task",
            "date": "Date due"
        },
        "commentexists": true,
        "biblioexists": true,
        "inchidden": 0,
        "summary": "<p>First course on PHP test system</p>",
        "sitecomment": "<p>Be careful out there</p>",
        "fullname": "Introduction to Logic"
    }
}}

<div class="cadocentral">
  {{#logourl}}
  <div id="cad-logo"> 
      <img class="img-responsive" src="{{{logourl}}}" alt="logo">
  </div>
  {{/logourl}}
  <div id="cad-title" class = "cado-title">
    <h1>{{fullname}}</h1>
    <h3>{{# str }} cadotitle, mod_cado {{/ str }}          
        {{#groupingname}}
        <span>{{# str }} forgroup, mod_cado {{/ str }}</span>
        <span id="cado-grouping" {{#dg}}class="{{dg}}"{{/dg}}>
           {{groupingname}}
        </span>         
        {{/groupingname}} 
    </h3>
  </div>
  <div style="clear:both;">
    <hr>
  </div>
  {{#cadointro}} 
  <div id="cado-intro" {{#di}}class="{{di}}"{{/di}}>{{{cadointro}}}</div>
  {{/cadointro}}
  {{#summary}}       
  <h2>{{# str }} description, mod_cado {{/ str }}</h2>
  <div id="cado-coursesummary" {{#ds}}class="{{ds}}"{{/ds}}>{{{summary}}}</div>
  {{/summary}}
  {{#scheduleexists}}{{> mod_cado/cadoschedule}}{{/scheduleexists}}
  {{#cadocomment}}<div id="cado-comment" {{#dc}}class="{{dc}}"{{/dc}}>{{{cadocomment}}}</div>{{/cadocomment}}
  {{#forumexists}}
  <div id="cado-forum" {{#df}}class="{{df}}"{{/df}}>
    <h2 class="cad-header">{{# str }} forum, mod_cado {{/ str }}</h2>
    {{#forum}}{{> mod_cado/cadomodule}}{{/forum}}
  </div>
  {{/forumexists}}
  {{#quizexists}}
  <div id="cado-quiz" {{#dq}}class="{{dq}}"{{/dq}}>
    <h2 class="cad-header">{{# str }} quiz, mod_cado {{/ str }}</h2>
    {{#quiz}}{{> mod_cado/cadomodule}}{{/quiz}}
  </div>
  {{/quizexists}}
  {{#assignexists}}
  <div id="cado-assign" {{#da}}class="{{da}}"{{/da}}>
    <h2 class="cad-header">{{# str }} assign, mod_cado {{/ str }}</h2>
    {{#assign}}{{> mod_cado/cadomodule}}{{/assign}}
  </div>
  {{/assignexists}}
  <br><hr><br>
  {{#sitecomment}}
  <div id="cado-sitecomment" {{#dsc}}class="{{dsc}}"{{/dsc}}>{{{sitecomment}}}</div>
  {{/sitecomment}}
  {{#cadobiblio}}
  <div id="cado-biblio" {{#db}}class="{{db}}"{{/db}}>{{{cadobiblio}}}</div>
  {{/cadobiblio}}
</div>
