{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.

}}
{{!
    @template mod_cado/cado

    Displays main CADO report

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * none

    Example context (json):
    {
      "assign": [
        [   "attempts": "false
          , "cmodid": "154"
          , "completiondiscussions": "false
          , "completionposts": "false
          , "completionreplies": "false
          , "cutoffdate": "1616455260"
          , "date": "1616473260"
          , "duedate": "1614700800"
          , "extra": [
            [ "tagheading": "Word count", tagcontent": "1000", tagcode": "tag1" ]
            , [ "tagheading": "Final grade %", tagcontent": "80", tagcode": "tag2" ]
            , [ "tagheading": "Hours", tagcontent": "30", tagcode": "tag0" ]
          ]
          , "intro": "<p>Choose from one of the required readings from this week.&nbsp; Analyse the reading by author culture. Analyse its effect on yourself by your own culture.</p>"
          , "link:{}
          , "name": "a1 with rubric"
          , "rubric": [
            [ "critdesc": "and the rest"
              , "levels": [
                  [ "leveldesc": "ultimate", "points": "5"]
                , [ "leveldesc": "lovely", "points": "4"]
                , [ "leveldesc": "ok", "points": "3"]
                , [ "leveldesc": "acceptable", "points": "2"]
                , [ "leveldesc": "unacceptable", "points": "1"]
                , [ "leveldesc": "dreadful", "points": "0"]
              ]
              , "total points": "-5
            ]
            , [ "critdesc": "the other"
              , "levels": " [
                  [ "leveldesc": "this awesome", "points": "3"]
                , [ "leveldesc": "this nice", "points": "1"]
                , [ "leveldesc": "this bad", "points": "0"]
              ]
              , "total points": "-3
            ]
            , ["critdesc": "this"
              , levels": " [
                  [ "leveldesc": "this great", "points": "2"
                , [ "leveldesc": "this ok", "points": "1"
                , [ "leveldesc": "this what?", "points": "0"
              ]
              , "total points": "-2
            ]
            , "
              critdesc": "that"
              , levels": " [
                [ "leveldesc": "that great", "points": "2"
                , "leveldesc": "that ok", "points": "1"
                , "leveldesc": "that what?", "points": "0"
              ]
              , "total points": "-2
            ]
          ]
          , rubricexists": "true"
          , timeclose": "false"
          , timelimit": "false"
          , timeopen": "false"
        ]
        , [ "attempts": "false"
          , "cmodid": "156"
          , "completiondiscussions": "false"
          , "completionposts": "false"
          , "completionreplies": "false"
          , "cutoffdate": "1616455260"
          , "date": "1616473260"
          , "duedate": "1614700800"
          , "extra": [
              [ "tagheading": "Hours", tagcontent": "20", tagcode": "tag0"]
            , ["tagheading": "Final grade %", tagcontent": "5", tagcode": "tag2"]
            , ["tagheading": "Word count", tagcontent": "700", tagcode": "tag1"]
            ]
          , "intro": "<p>Write an annotated bibliography (100 words per entry, 5 entries) and a reflection (200 words).</p>"
          , "link": {}
          , "name": "a2 no rubric"
          , "rubric": []
          , "rubricexists": "false"
          , "timeclose": "false"
          , "timelimit": "false"
          , "timeopen": "false"
        ]
      ]
      , "assignexists": "true
      , "cadobiblio": "<p>Additional comments displayed after assessments and after site-wide comment<br /></p>"
      , "cadocomment": "<p>Additional comments before assessments<br /></p>"
      , "cadointro": "<p>Initial comments immediately after heading</p>"
      , "forum": [
          [ "attempts": "false
          , "cmodid": "153"
          , "completiondiscussions": "1"
          , "completionposts": "0"
          , "completionreplies": "1"
          , "cutoffdate": "false"
          , "date": "1613782260"
          , "duedate": "false"
          , "extra": [
                [ "tagheading": "Hours", tagcontent": "5", tagcode": "tag0"]
              , ["tagheading": "Final grade %", tagcontent": "5", tagcode": "tag2"]
              , ["tagheading": "Word count", tagcontent": "200", tagcode": "tag1"]
            ]
          , "intro": "<p>In this lesson, I have given you a small background to the culture of the author.&nbsp; How does this affect your understanding of the text?</p>"
          , "link": {}
          , "name": "f1 with rubric"
          , "rubric": [
              [ "critdesc": "Logic"
                , "levels": [
                      [ "leveldesc": "consistent", "points": "3"]
                    , [ "leveldesc": "some", "points": "1"]
                    , [ "leveldesc": "not", "points": "0"]
                  ]
                , "total points": "-3"
              ]
              , [ "critdesc": "Grammar"
                  , "levels": [
                      [ "leveldesc": "acceptable", "points": "3"]
                    , [ "leveldesc": "basic", "points": "1"]
                    , [ "leveldesc": "incoherent", "points": "0"]
                  ]
                  , "total points": "-3"
              ]
              , [ "critdesc": "Subject"
                  , levels": [
                      [ "leveldesc": "on-topic", "points": "3"]
                    , [ "leveldesc": "straying", "points": "1"]
                    , [ "leveldesc": "off-topic", "points": "0"]
                  ]
                  , "total points": "-3"
              ]
            ]
          , "rubricexists": "true"
          , "timeclose": "false"
          , "timelimit": "false"
          , "timeopen": "false"
        ] 
      ]
      , "forumexists": "true
      , "fullname": "Copy of Basic course"
      , "groupingname": "First"
      , "headtag0": "Hours"
      , "headtag1": "Word count"
      , "headtag2": "Final grade %"
      , "logourl": {}
      , "quiz": [
          [ "attempts": "Not set"
          , "cmodid": "152"
          , "completiondiscussions": "false"
          , "completionposts": "false"
          , "completionreplies": "false"
          , "cutoffdate": "false"
          , "date": "false"
          , "duedate": "false"
          , "extra": [
              [ "tagheading": "Hours", tagcontent": "10", tagcode": "tag0"]
            , [ "tagheading": "Final grade %", tagcontent": "5", tagcode": "tag2"]
            ]
          , "intro": "<p>Do this awesome quiz and you will find great knowledge.</p>"
          , "link": {}
          , "name": "Awesome quiz 1"
          , "rubric": "false"
          , "rubricexists": "false"
          , "timeclose": "1600569180"
          , "timelimit": "30"
          , "timeopen": "false"
          ]
      ]
      , "quizexists": "true"
      , "schedule": [
          [ "section": "0, name": "General sections", startdate": "null, tasks": "null, sum": "false"]
        , [ "name": "Topic 1"
            , "section": "1"
            , "startdate": "1584115200"
            , "sum": "false"
            , "tasks": [
                [ "name": "Awesome quiz 1", "date": "1600569180", "tag0": "10", "tag2": "5"]
              ]
          ]
        , [ "name": ""
            , "section": "2"
            , "startdate": "1584720000"
            , "sum": "false"
            , "tasks": [
                [ "name": "f1 with rubric", "date": "1613782260", "tag0": "5", "tag2": "5", "tag1": "200"]
              , [ "name": "a1 with rubric", "date": "1614700800", "tag1": "1000", "tag2": "80", "tag0": "30"]
              ]
          ]
        , [ "name": ""
            , "section": "3"
            , "startdate": "1585324800"
            , "sum": "false"
            , "tasks": [[ "name": "a2 no rubric", "date": "1614700800", "tag0": "20", "tag2": "5", "tag1": "700"]]
          ]
        , [ "name": "TOTALS"
            , "section": "1000"
            , "sum": "true"
            , "tasks": [["tag0": "65, "tag1": "1900,"tag2": "95"]]
          ]
        ]
      , "scheduleexists": "1"
      , "sitecomment": "<p>Please note:</p><p><ul><li>All assignments need to be presented according to the College guidelines.<br></li><li>All work must be submitted no later than 11:55pm on the due date, unless otherwise noted.</li><li>Please see College regulations for guidance on extension requests, submission of late work, and plagiarism.</li></ul></p>"
      , "summary": "<p>Basic course on a test system.<br>This is all about teaching teachers how to add a good CADO to their course.</p>"
      , "tagsinsched": "true"
      , "weekly": "true"
    }
}}

<div class="cadocentral">
  {{#logourl}}
      <div id="cad-logo"> 
          <img class="img-responsive" src="{{{logourl}}}" alt="logo">
      </div>
  {{/logourl}}
  <div id="cad-title" class = "cado-title">
    <h1>{{fullname}}</h1>
    <h3>{{# str }} cadotitle, mod_cado {{/ str }}          
        <span id="cado-grouping">
          {{#groupingname}}
            {{# str }} forgroup, mod_cado {{/ str }} {{groupingname}}
          {{/groupingname}} 
        </span>         
    </h3>
  </div>
  <div style="clear:both;">
    <hr>
  </div>
  <div id="cado-intro">
    {{#cadointro}} 
      {{{cadointro}}}
    {{/cadointro}}
  </div>
  <div id="cado-coursesummary">
    {{#summary}}       
      <h2>{{# str }} description, mod_cado {{/ str }}</h2>
      <div>{{{summary}}}</div>
    {{/summary}}
  </div>
  <div id="cado-schedule">
    {{#scheduleexists}}
      <h2>{{# str }} schedule, mod_cado {{/ str }}</h2>
      <table class="table table-hover table-bordered">
        <thead>
          <tr class="cado-t0">
            {{#weekly}}<th class="cado-tc1">{{# str }} week, mod_cado {{/ str }}</th>{{/weekly}}
            {{^weekly}}<th class="cado-tc1">{{# str }} section, mod_cado {{/ str }}</th>{{/weekly}}
            {{#weekly}}<th class="cado-tc2">{{# str }} weekdate, mod_cado {{/ str }}</th>{{/weekly}}
            <th class="cado-tc3">{{# str }} topic, mod_cado {{/ str }}</th>
            <th class="cado-t0">
              <table class="table table-hover cado-inner-table">
                <tr class="cado-t0">
                  <th class="cado-tc3">{{# str }} task, mod_cado {{/ str }}</th>
                  <th class="cado-tc2">{{# str }} datedue, mod_cado {{/ str }}</th>
                  {{#tagsinsched}}
                    {{#headtag0}}<th class="cado-tc1">{{headtag0}}</th>{{/headtag0}}
                    {{#headtag1}}<th class="cado-tc1">{{headtag1}}</th>{{/headtag1}}
                    {{#headtag2}}<th class="cado-tc1">{{headtag2}}</th>{{/headtag2}}
                  {{/tagsinsched}}
                </tr>
              </table>
            </th>
          </tr>
        </thead>
        <tbody>
          {{#schedule}}
            <tr class="cado-t0">
              <td class="cado-tc1">{{^sum}}{{section}}{{/sum}}</td>
              {{#weekly}}<td class="cado-tc2">{{#startdate}}{{#userdate}} {{startdate}}, {{#str}} strftimedate {{/str}} {{/userdate}}{{/startdate}}</td>{{/weekly}}
              <td class="cado-tc3{{#sum}} cado-sched-total{{/sum}}">{{name}} </td> 
              <td class="cado-t0">
                <table class="table table-hover cado-inner-table">
                  {{#tasks}}
                    {{#.}}
                      <tr class="cado-t0">
                        <td class="cado-tc3">{{^sum}}{{name}}{{/sum}}</td>
                        <td class="cado-tc2">{{#date}}{{#userdate}} {{date}}, {{#str}} strftimedatetimeshort {{/str}} {{/userdate}}{{/date}}</td>
                        {{#tagsinsched}}                        
                          {{#headtag0}}<td class="cado-tc1{{#sum}} cado-sched-total{{/sum}}">{{tag0}}</td>{{/headtag0}}
                          {{#headtag1}}<td class="cado-tc1{{#sum}} cado-sched-total{{/sum}}">{{tag1}}</td>{{/headtag1}}
                          {{#headtag2}}<td class="cado-tc1{{#sum}} cado-sched-total{{/sum}}">{{tag2}}</td>{{/headtag2}}
                        {{/tagsinsched}}                        
                      </tr>
                    {{/.}}
                  {{/tasks}}
                </table>
              </td>
            </tr> 
          {{/schedule}}
        </tbody>
      </table>
    {{/scheduleexists}}
  </div>
  <div id="cado-comment">
    {{#cadocomment}} 
      {{{cadocomment}}}
    {{/cadocomment}}
  </div>
  <div id="cado-forum">
    {{#forumexists}}
      <h2 class="cad-header">{{# str }} forum, mod_cado {{/ str }}</h2>
      {{#forum}}
        {{#.}}
          <h2 id="cadoi-forum-name_{{cmodid}}">{{name}} <a class="cad-link" href="{{link}}&amp;forceview=1" target="_blank">&#9741;</a></h2>
          <div id="cadoi-forum-dates_{{cmodid}}">
              <h4>{{# str }} duedates, mod_cado {{/ str }}</h4>
              {{#duedate}} <div class="row">
                <div class = "col-sm-3">{{# str }} duedate, forum {{/ str }}</div>
                <div class = "col-sm-3">{{#userdate}} {{duedate}} , {{#str}} strftimedatetime {{/str}} {{/userdate}}</div>
              </div>{{/duedate}}
              {{#date}}<div class="row">
                <div class = "col-sm-3">{{# str }} forumexpectcompleted, mod_cado {{/ str }}:</div>
                <div class = "col-sm-3">{{#userdate}} {{date}} , {{#str}} strftimedatetime {{/str}} {{/userdate}}</div>
              </div>{{/date}}
              {{#cutoffdate}}<div class="row">
                  <div class = "col-sm-3">{{# str }} cutoffdate, forum {{/ str }}</div>
                  <div class = "col-sm-3">{{#userdate}} {{cutoffdate}}, {{#str}} strftimedatetime {{/str}} {{/userdate}}</div>
              </div>{{/cutoffdate}}
          </div>
          <div id="cadoi-forum-completion_{{cmodid}}">
            <h4>{{# str }} completion, mod_cado {{/ str }}</h4>
            <div class="row">
              <div class = "col-sm-3">{{# str }} completiondiscussions, forum {{/ str }}</div>
              <div class = "col-sm-3">{{completiondiscussions}}</div>
            </div>
            <div class="row">
              <div class = "col-sm-3">{{# str }} completionreplies, forum {{/ str }}</div>
              <div class = "col-sm-3">{{completionreplies}}</div>
            </div>
            {{#completionposts}}<div class="row">
              <div class = "col-sm-3">{{# str }} completionposts, forum {{/ str }} </div>
              <div class = "col-sm-3">{{completionposts}}</div>
            </div>{{/completionposts}}
          </div>
          <div id="cadoi-forum-extra_{{cmodid}}">
            {{#extra}}           
              {{#.}}
                <div class="row">
                  <div class = "col-sm-3 cad-tag-head"><h4>{{tagheading}}:</h4></div>
                  <div class = "col-sm-3"><h4>{{tagcontent}}</h4></div>
                </div>
              {{/.}}
            {{/extra}}   
          </div>
          <div id="cadoi-forum-intro_{{cmodid}}"><p> </p>{{{intro}}}<p> </p></div>
          {{#rubricexists}}
            <h4>{{# str }} rubric, mod_cado {{/ str }} </h4>
            <div id="cadoi-forum-rubric_{{cmodid}}">
              <table class="table table-hover">
                <tbody>
                {{#rubric}}
                  {{#.}}<tr>
                    <td class="cado-rubric-row-head">{{critdesc}}</td>
                    {{#levels}}
                      <td>{{leveldesc}}<br>({{points}})</td>
                    {{/levels}}
                  </tr>{{/.}}
                {{/rubric}}
                </tbody>
              </table><br>
            </div>
          {{/rubricexists}}
        {{/.}}
      {{/forum}}
    {{/forumexists}}
  </div>
  <div id="cado-quiz">
    {{#quizexists}}
      <h2 class="cad-header">{{# str }} quiz, mod_cado {{/ str }}</h2>
      {{#quiz}}
        {{#.}}
          <h2 id="cadoi-quiz-name_{{cmodid}}">{{name}} <a class="cad-link" href="{{link}}&amp;forceview=1" target="_blank">&#9741;</a></h2>
          <div id="cadoi-quiz-dates_{{cmodid}}">
            <h4>{{# str }} duedates, mod_cado {{/ str }}</h4>
            {{#date}}<div class="row">
                <div class = "col-sm-3">{{# str }} quizexpectcompleted, mod_cado {{/ str }}: </div>
                <div class = "col-sm-3">{{#userdate}} {{date}}, {{#str}} strftimedatetime {{/str}} {{/userdate}}</div>
            </div>{{/date}}  
            {{#timeclose}}
            <div class="row">
              <div class = "col-sm-3">{{# str }} quizclose, quiz {{/ str }}: </div>
              <div class = "col-sm-3">{{#userdate}} {{timeclose}}, {{#str}} strftimedatetime {{/str}} {{/userdate}}</div>
            </div>{{/timeclose}}
            {{#timeopen}}
            <div class="row">
              <div class = "col-sm-3">{{# str }} quizopen, quiz {{/ str }}: </div>
              <div class = "col-sm-3">{{#userdate}} {{timeopen}}, {{#str}} strftimedatetime {{/str}} {{/userdate}}</div>
            </div>{{/timeopen}}
          </div>
          <div id="cadoi-quiz-completion_{{cmodid}}"><h4>{{# str }} completion, mod_cado {{/ str }} </h4>
            <div class="row">
              <div class = "col-sm-3">{{# str }} timelimit, quiz {{/ str }} {{# str }} minutes, mod_cado {{/ str }}: </div>
              <div class = "col-sm-3">{{timelimit}}</div>
            </div>
            <div class="row">
              <div class = "col-sm-3">{{# str }} attempts, quiz {{/ str }}: </div>
              <div class = "col-sm-3">{{attempts}}</div>
            </div>
          </div>
          <div id="cadoi-quiz-extra_{{cmodid}}">
            {{#extra}}
              {{#.}}
                <div class = "row">
                  <div class = "col-sm-3 cad-tag-head"><h4>{{tagheading}}:</h4></div>
                  <div class = "col-sm-3"><h4>{{tagcontent}}</h4></div>
                </div>
              {{/.}}
            {{/extra}}
          </div>
          <div id="cadoi-quiz_intro_{{cmodid}}"><p> </p>{{{intro}}}<p> </p></div>
        {{/.}}
      {{/quiz}}
    {{/quizexists}}
  </div>
  <div id="cado-assign">
    {{#assignexists}}
      <h2 class="cad-header">{{# str }} assign, mod_cado {{/ str }}</h2>
      {{#assign}}
        {{#.}}
          <h2 id="cadoi-assign-name_{{cmodid}}">{{name}} <a class="cad-link" href="{{link}}&amp;forceview=1" target="_blank">&#9741;</a></h2>
          <div id="cadoi-assign-dates_{{cmodid}}">
            <h4>{{# str }} duedates, mod_cado {{/ str }} </h4>
            {{#date}}
              <div class = "row">
                <div class = "col-sm-3">{{# str }} assignexpectcompleted, mod_cado {{/ str }}:  </div>
                <div class = "col-sm-3">{{#userdate}} {{date}}, {{#str}} strftimedatetime {{/str}} {{/userdate}}</div>
              </div>
            {{/date}}
            {{#duedate}}
              <div class = "row">
                <div class = "col-sm-3">{{# str }} duedate, assign {{/ str }}: </div>
                <div class = "col-sm-3">{{#userdate}} {{duedate}}, {{#str}} strftimedatetime {{/str}} {{/userdate}}</div>
              </div>
            {{/duedate}}
            {{#cutoffdate}}
              <div class = "row">
                <div class = "col-sm-3">{{# str }} cutoffdate, assign {{/ str }}:  </div>
                <div class = "col-sm-3">{{#userdate}} {{cutoffdate}}, {{#str}} strftimedatetime {{/str}} {{/userdate}}</div>
              </div>
            {{/cutoffdate}}
          </div> 
          <div id="cadoi-assign-extra_{{cmodid}}">
            {{#extra}}
              {{#.}}
                <div class = "row">
                  <div class = "col-sm-3 cad-tag-head"><h4>{{tagheading}}:</h4></div>
                  <div class = "col-sm-3"><h4>{{tagcontent}}</h4></div>
                </div>
              {{/.}}
            {{/extra}}
          </div>
          <div id="cadoi-assign-intro_{{cmodid}}"><p> </p>{{{intro}}}<p> </p></div>
          {{#rubricexists}}
            <h4>{{# str }} rubric, mod_cado {{/ str }} </h4>
            <div id="cadoi-assign-rubric_{{cmodid}}">
              <table class="table table-hover">
                <tbody>
                {{#rubric}}
                  {{#.}}<tr>
                    <td class="cado-rubric-row-head">{{critdesc}}</td>
                    {{#levels}}
                      <td>{{leveldesc}}<br>({{points}})</td>
                    {{/levels}}
                  </tr>{{/.}}
                {{/rubric}}
                </tbody>
              </table><br>
            </div>
          {{/rubricexists}}
        {{/.}}
      {{/assign}}
      <br><hr><br>
    {{/assignexists}}
  </div>
  <div id="cado-sitecomment"> 
    {{#sitecomment}}
      <div>{{{sitecomment}}}</div>
    {{/sitecomment}}
  </div>
  <div id="cado-biblio">
    {{#cadobiblio}} 
      <div >{{{cadobiblio}}}</div>
    {{/cadobiblio}}
  </div>
</div>