{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.

}}
{{!
    @template mod_cado/cado

    Displays main CADO report

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * none

    Example context (json):
    {"forum": {
        "0": {
            "cmodid": 97,
            "name": "Less important but still important forum ",
            "link": "http://localhost/moodle_latest/moodle/mod/forum/view.php?id=97&forceview=1",
            "datesexists": true,
            "completionexists": true,
            "extraexists": false,
            "introexists": true,
            "rubricexists": false,
            "dates": {
                "0": {
                    "label": "Date to be completed by: ",
                    "value": "22 October 2020, 1:51 PM"
                }
            },
            "completion": {
                "0": {
                    "label": "Student must create discussions:",
                    "value": 1
                },
                "1": {
                    "label": "Student must post replies:",
                    "value": 3
                }
            },
            "extra": {},
            "intro": "Urgles. ",
            "module": "forum"
        },
        "1": {
            "cmodid": 95,
            "name": "Important forum (LO:3 0%) ",
            "link": "http://localhost/moodle_latest/moodle/mod/forum/view.php?id=95&forceview=1",
            "datesexists": true,
            "completionexists": true,
            "extraexists": false,
            "introexists": true,
            "rubricexists": false,
            "dates": {
                "0": {
                    "label": "Date to be completed by: ",
                    "value": "22 December 2020, 1:51 PM"
                }
            },
            "completion": {
                "0": {
                    "label": "Student must create discussions:",
                    "value": 1
                },
                "1": {
                    "label": "Student must post replies:",
                    "value": 1
                }
            },
            "extra": {},
            "intro": "What a wonderful day for a forum post. ",
            "module": "forum"
        }
    }
}}
{{=<% %>=}}
<div>
  <ion-card>
    <ion-card-header>
    <ion-card-title id="cadoi-<%module%>-name_<%cmodid%>">
    <%name%> <a class="cad-link" href="<%link%>" target="_blank" core-link capture="true">&#9741;</a>
    </ion-card-title>
    </ion-card-header>
    <ion-card-content class="cadohide">
      <%#datesexists%>
      <h4><%# str %> duedates, mod_cado <%/ str %></h4>
      <ion-grid id="cadoi-<%module%>-dates_<%cmodid%>">
        <%#dates%>
          <ion-row>
            <ion-col col-lg-2 col-md-4 col-5><%label%>
            </ion-col>
            <ion-col col-lg-2 col-md-4 col-5><%value%>
            </ion-col>
          </ion-row>
        <%/dates%>
      </ion-grid>
      <%/datesexists%>
      <%#completionexists%>
      <h4><%# str %> completion, mod_cado <%/ str %></h4>
      <ion-grid id="cadoi-<%module%>-completion_<%cmodid%>">
          <%#completion%>
          <ion-row>
            <ion-col col-lg-2 col-md-4 col-5><%label%>
            </ion-col>
            <ion-col col-lg-2 col-md-4 col-5><%value%>
            </ion-col>
          </ion-row>
          <%/completion%>
      </ion-grid>
      <%/completionexists%>
      <%#extraexists%>
      <ion-grid id="cadoi-<%module%>-extra_<%cmodid%>">
        <%#extra%>           
        <ion-row>
          <ion-col col-lg-2 col-md-4 col-5>
            <h4><%label%></h4>
          </ion-col>
          <ion-col col-lg-2 col-md-4 col-5>
            <h4><%value%></h4>
          </ion-col>
        </ion-row>
        <%/extra%>   
      </ion-grid>
      <%/extraexists%>
      <%#introexists%>
      <div id="cadoi-<%module%>-intro_<%cmodid%>" class="cado-inserthtml">
        <%{intro}%>
      </div>
      <%/introexists%>
      <%#rubricexists%>
      <h4><%# str %> rubric, mod_cado <%/ str %> </h4>
      <ion-grid id="cadoi-<%module%>-rubric_<%cmodid%>">
        <%#rubric%>
          <ion-row>
            <ion-col class="cado-rubric-row-head"><%critdesc%></ion-col>
            <%#levels%><ion-col><%leveldesc%><br>(<%points%>)</ion-col><%/levels%>
          </ion-row>
        <%/rubric%>
      </ion-grid>
      <%/rubricexists%>
    </ion-card-content>
  </ion-card>
</div>
